<!- This is the layout page ->
<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

  </head>
  <body>
    <header>
      <div class="container">
          <a href="{{ url_for('index') }}"><h1 class = "title">IT Career Map</h1></a>
      </div>
    </header>

    <div class="container">
      <! this is  >
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>