{% extends "layout.html" %}

{% block content %}

<form method=post action="">
<br>
<br>
<table>
  {% for field in form %}
    <tr>
    <td> {{ field.label }} </td><td>{{ field(size=30) }}</td>
    {% if field.errors %}
      <td><ul class=errors>
      {% for error in field.errors %}
        <li><font color="red">{{ error }}</font></li>
      {% endfor %}</ul></td>
    {% endif %}
    </tr>
  {% endfor %}
<tr>
<td>
    <p>
    <input type=submit , class="btn-primary" value=Map>
</p>
</td>
</tr>
<table>
<td>
<p>
{% if result != None %}
<img src="data:image/png;base64,{{ result }}"\>
{% endif %}
</p>
</td>
</table>
</table>
</form>

{% endblock %}