{% extends "layout.html" %}

{% block content %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<!  >
<form method=post action="">
<br>
<br>
<table>
    <! Jinga form to loop the variables in form and printing it out >
  {% for field in form %}
    <tr>
    <td> {{ field.label }} </td><td>{{ field(size=30) }}</td>
    </tr>
  {% endfor %}
<tr>
<td>
    <p>
        <! Submit button >
    <input type=submit , class="btn-primary" value=Map>
        {{ path }}
</p>
</td>
</tr>
<table>
<td>
<p>
{% if result != None %}
<! Displaying the image >
<img src="data:image/png;base64,{{ result }}"\>
{% endif %}
</p>
</td>
</table>
</table>
</form>

{% endblock %}